/* * {
    border: 5px solid black;
} */

body,html {
    background-color: rgb(150, 232, 243);
    margin: 0;
    padding: 0;
}

.aramamenüsü {
    width: 1400px;
    height: 30px;
    margin:20px;
    margin-top: 20px;
    padding: 20px;
    background-image: url('./img/arkafon4.jpg');
    min-height: 40px;
}

.arkafon1 {
    margin: 0;
    padding: 0;
    background-image: url('./img/arkafon1.jpg');
    min-height: 40px;
}

.arkafon11 {
    margin: 0;
    padding: 0;
    background-image: url('./img/tesla.png');
    min-height: 40px;
}

.arkafon12 {
    margin: 0;
    padding: 0;
    background-image: url('./img/shopify.png');
    min-height: 40px;

}
.arkafon13 {
    margin: 0;
    padding: 0;
    background-image: url('./img/skype.png');
    min-height: 40px;
   
}
.arkafon14 {
    margin: 0;
    padding: 0;
    background-image: url('./img/salesforce.png');
    min-height: 40px;
 
}
.arkafon15 {
    margin: 0;
    padding: 0;
    background-image: url('./img/bloomberg.png');
    min-height: 40px;

}
.arkafon16 {
    margin: 0;
    padding: 0;
    background-image: url('./img/facebook.png');
    min-height: 40px;
 
}





.arkafon2 {
    margin: 0;
    padding: 0;
    background-image: url('./img/arkafon2.jpg');
    min-height: 200px;
}
.arkafon3 {
    margin: 0;
    padding: 0;
    background-image: url('./img/arkafon3.jpg');
    min-height: 200px;
}
.arkafon4 {
    margin: 0;
    padding: 0;
    background-image: url('./img/arkafon4.jpg');
    min-height: 200px;
}

.arkafon5 {
    margin: 0;
    padding: 0;
    background-image: url('./img/arkafon5.jpg');
    min-height: 200px;
}
.arkafon6 {
    margin: 0;
    padding: 0;
    background-image: url('./img/arkafon6.jpg');
    min-height: 200px;
}

